<h1><%= @recipe.name %></h1>

<% if @quantities.any? %>
  <ul>
    <% @quantities.each do |quantity| %>
      <li>
        <%= quantity.description %> <%= quantity.ingredient.name %>
      </li>
    <% end %>
  </ul>
<% end %>

<p>
  <%= @instructions %>
</p>
