<h1><%= @recipe.name %></h1>

<ul>
  <% @quantities.each do |quantity| %>
    <li>
      <%= quantity.description %> <%= quantity.ingredient.name %>
    </li>
  <% end %>
</ul>

<p>
  <%= @instructions %>
</p>
