<form class="form-inline" action="/recipes" method="post">
  <div class="form-group">
    <label for="recipe_name">Add Recipe:</label>
    <input type="text" class="form-control" name="recipe_name" placeholder="Enter recipe name">
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>
